<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsGISSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsGISSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ktlddr.hcmpc.com.vn/WSGisApp/wsGIS.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsGISSoap"
                contract="WGISService.wsGISSoap" name="wsGISSoap" />
        </client>
    </system.serviceModel>
</configuration>